.wraper {
  font-family: $main-font-family;
  font-weight: $secondary-font-weight;
  width: 280px;
  margin: auto;
  max-width: 100%;

  @media screen and (min-width:703px) and (max-width:1279px) {
    width: 688px;
  }

  @media screen and (min-width:1280px) and (max-width: 1679px) {
    width: 1210px;
  }

  @media screen and (min-width:1680px) {
    width: 1342px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
  margin: auto;
}

.link {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: $link-color;
}
