.bg{
    background-image: url(../../images/bg-top-section.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    &--second-section, &--our-program {
        background-color: $third-color;
        margin-top: 51px;
    }
    &--our-program {
        height: 1892px;
        
    }
    // &--teacher{
    //     background-color: red;
    // }
}