.contacts {
  margin: 35px 0 15px 0;

  @media screen and (min-width:703px) and (max-width:1279px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
  }

  @media screen and (min-width:1280px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 52px;
  }

  &__tel {
    @include center-flex ($type: 'all');
    max-width: 244px;

    @media screen and (min-width:703px) and (max-width:1279px) {
      order: 1;
      margin-left: 78px;
      max-width: 100%;
    }

    @media screen and (min-width:1280px) and (max-width:1679px) {
      margin-left: 254px;
      order: 1;
      max-width: 100%;
    }

    @media screen and (min-width:1680px) {
      margin-left: 304px;
      order: 1;
      max-width: 100%;
    }

    &--icon {
      margin: auto;
    }

    &--number {
      font-size: $secondary-text-font-size;
      font-weight: $third-font-weight;
      color: $seventh-color;
      margin-left: 7px;

      @media screen and (min-width:703px) and (max-width:1279px) {
        font-size: $third-text-font-size;
      }

      @media screen and (min-width:1280px) {
        font-size: $title-tablet-font-size;
      }
    }
  }

  &--insta {
    margin-top: 23px;

    @media screen and (min-width:703px) {
      margin: 0;
      order: 2;
      margin-left: 59px;
    }
  }

  &--logo {
    margin-top: 20px;

    @media screen and (min-width:703px) and (max-width:1279px) {
      margin: 0;
    }
  }
}
