.section {
  &__main-problems {
    position: relative;
  // &--position {
  //   @media screen and (min-width:1280px) and (max-width:1679px){
  //   margin-top: 508px;
  // }
  // }
    &--wrp {
      position: absolute;
      background-color: $third-color;
      width: 280px;
      box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
      margin-top: -310px;
      padding-bottom: 27px;
      @media screen and (min-width:703px) and (max-width:1279px){
        width: 688px;
        display: flex;
        justify-content: center;
        margin-top: -164px;
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        width: 1210px;
        display: flex;
        justify-content: center;
        margin-top: -164px;
        // min-height: 323px;
      }
      @media screen and (min-width:1680px){
        width: 1338px;
        display: flex;
        justify-content: center;
        margin-top: -232px;
      }
    }
    &--wrp2{
        margin-top: -346px;
        @media screen and (min-width:703px) and (max-width:1279px){
          margin-top: -146px;
        }
        @media screen and (min-width:1280px) and (max-width:1679px){
        margin-top: -403px;
        }
        @media screen and (min-width:1680px){
          margin-top: -242px;
        }
    }

    &--list {
      counter-reset: count-box;
      list-style-type: none;
      margin-left: 28px;
      // min-height: 465px;
      @media screen and (min-width:703px) and (max-width:1279px){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 510px;
        padding-top: 10px;
        padding-bottom: 18px;
        margin: 0;
        min-height: 311px;
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1005px;
        padding-top: 15px;
        padding-bottom: 52px;
        margin: 0;
      }
      @media screen and (min-width:1680px){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1158px;
        padding-top: 22px;
        padding-bottom: 75px;
        margin: 0;
      }
    }

    &--item {
      counter-increment: count-box;
      margin-top: 48px;
      font-family: $main-font-family;
      font-size: $advantages-list-font-size;
      font-weight: $secondary-font-weight;
      max-width: 202px;
      @media screen and (min-width:703px) and (max-width:1279px){
      min-width: 207px;
    
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        font-size: $secondary-text-font-size;
        min-width: 260px;
        min-height: 53px;  
        margin-top: 75px;

      }
      @media screen and (min-width:1680px){
        font-size: $secondary-text-1680-font-size;
        min-width: 324px;
        min-height: 53px;
        margin-top: 87px;
      }
    }

    &--item::before {
      content: counter(count-box, decimal-leading-zero);
      color: $main-color;
      position: absolute;
      margin-left: 34px;
      margin-top: -28px;
      font-size: $count-font-size;
      font-weight: $secondary-1280-font-weight;
      @media screen and (min-width:1280px){
        font-size: $advantages-list-1280-font-size;
        margin-top: -32px;
      }
    }

    &--line::before {
      content: "";
      display: block;
      width: 25px;
      border-bottom: 2px solid $main-color;
      position: absolute;
      margin-top: -20px;
    }
  }

  &__third {
    margin-top: 38px;
    position: relative;
    margin-left: -5px;
    @media screen and (min-width:703px) and (max-width:1279px){
      max-width: 603px;
      margin: auto;
      margin-top: 15px;
    }
    @media screen and (min-width:1280px) and (max-width:1679px){
      margin-top: 30px;
    }
    @media screen and (min-width:1680px){
      margin-top: 32px;
    }
    
    &--list {
      @media screen and (min-width:703px) and (max-width:1279px){
        @include spase-between-flex($type: 'hor');
        flex-wrap: wrap;
        margin: auto;
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        @include spase-between-flex($type: 'hor');
        flex-wrap: wrap;
      }
      @media screen and (min-width:1680px){
        @include spase-between-flex($type: 'hor');
        flex-wrap: wrap;
      }
    }

    &--item {
      display: block;
      min-width: 290px;
      min-height: 267px;
      background-color: $third-color;
      margin-top: 16px;
      box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
      transition: 1s all ease;
      @media screen and (min-width:703px) and (max-width:1279px){
        margin-top: 23px;
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        min-width: 391px;
        min-height: 340px;
        margin-top: 19px;
      }
      @media screen and (min-width:1680px){
        min-width: 430px;
        min-height: 395px;
        margin-top: 22px;
      }
    }

    &--item:hover {
      background-color: $main-color;
      color: $third-color;
      transition-duration: 0.8s;
    }

    &--item:hover &--item-title::after {
      color: $third-color;
      transition-duration: 0.8s;
    }

    &--item:hover .advantages-list--svg {
      fill: $third-color;
      transition-duration: 0.8s;
    }
    &--item:hover .section__third--item-text {
      color: $third-color;
      transition-duration: 0.8s;
    }

    &--item-title {
      text-align: center;
      font-family: $main-font-family;
      font-size: $advantages-list-font-size;
      font-weight: $secondary-font-weight;
      padding-top: 20px;
      max-width: 220px;
      margin: auto;
      @media screen and (min-width:1280px) and (max-width:1679px){
        font-size: $secondary-text-font-size;
        max-width: 281px;
      }
      @media screen and (min-width:1680px){
        font-size: $secondary-text-1680-font-size;
        max-width: 328px;
      }
    }

    &--item-title::after {
      display: block;
      content: "";
      width: 27px;
      border-bottom: 2px solid $main-color;
      position: absolute;
      margin-top: 20px;
      margin-left: 97px;
      @media screen and (min-width:1280px) and (max-width:1679px){
        margin-left: 126px;
      }
      @media screen and (min-width:1680px){
        margin-left: 148px;
    }
  }

    &--item-text {
      text-align: center;
      font-family: $main-font-family;
      font-size: $button-font-size;
      font-weight: $fiveth-font-weight;
      padding-top: 44px;
      margin: auto;
      max-width: 248px;
      color: $fourth-color;
      @media screen and (min-width:1280px) and (max-width:1679px){
        font-size: $secondary-font-size;
        max-width: 291px;
      }
      @media screen and (min-width:1680px){
        font-size: $secondary2-text-1680-font-size;
        max-width: 323px;
      }
    }

    &--icon {
      @include center-flex($type: 'hor');
      padding-top: 31px;
    }
  }

  &__program {
    position: relative;
    margin-top: 36px;
    padding-bottom: 500px;
    @media screen and (min-width:703px) and (max-width:1279px){
    padding-bottom: 285px;
    }
    @media screen and (min-width:1280px) and (max-width:1679px){
      padding-bottom: 35px;
    }
    @media screen and (min-width:1680px){
      padding-bottom: 8px;
    }
    &--wrap{
      @media screen and (min-width:1280px) and (max-width:1679px){
        position: relative;
      }
    }
    &--list {
      margin-left: 28px;
      counter-reset: count-list-program;
      @media screen and (min-width:703px) and (max-width:1279px){
        margin-left: 108px;
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-bottom: 557px;
      }
      @media screen and (min-width:1680px){
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-bottom: 391px;
      }
    }

    &--list::before {
      content: "";
      display: block;
      width: 2px;
      height: 1667px;
      background-color: $fourth-color;
      position: absolute;
      margin-left: -28px;
      margin-top: 11px;
      @media screen and (min-width:703px) and (max-width:1279px) {
        height: 915px;
      }
      @media screen and (min-width:1280px) and (max-width:1679px) {
        width: 1503px;
      height: 2px;
      margin-left: -257px;
      margin-top: 29px;
      }
      @media screen and (min-width:1680px){
      width: 1739px;
      height: 3px;
      margin-left: -227px;
      margin-top: 81px;
      }
    }

    &--item {
      color: $link-color;
      counter-increment: count-list-program;
      max-width: 150px;
      position: relative;
      margin-top: 36px;
      @media screen and (min-width:1280px) and (max-width:1679px){
        margin-top: 86px;
      }
      @media screen and (min-width:1680px){
        margin-top: 144px;
      }
    }
      &--item::before {
        content: counter(count-list-program, )" Семестр";
      }

      &--position {
        position: relative;
        @media screen and (min-width:703px) and (max-width:1279px){
        display: flex;
        }
      }

      &--position::before {
        display: block;
        position: absolute;
        content: url(../../images/icon/Ellipse.png);
        margin-top: -32px;
        margin-left: -32px;
        @media screen and (min-width:703px) and (max-width:1279px){
          margin-top: -19px;
        }
        @media screen and (min-width:1280px) and (max-width:1679px){
          margin-top: -96px;
          margin-left: -2px;
        }
        @media screen and (min-width:1680px){
          margin-top: -102px;
          margin-left: -2px;
        }
      }

      &--position-block1, &--position-block2, &--position-block3 {
        min-width: 180px;
      }
      &--position-block2, &--position-block3 {
        @media screen and (min-width:703px) and (max-width:1279px){
          margin-left: 24px;

        }

      }
      &--text1 {
        color: $main-color;
        font-weight: $secondary-1280-font-weight;
        line-height: $third-line-hight;
        margin-top: 13px;
        margin-left: 38px;
        @media screen and (min-width:1680px){
          font-size: $secondary-text-1680-font-size;
        }
      }

      &--text2 {
        color: $fourth-color;
        font-weight: $fiveth-font-weight;
        line-height: $third-line-hight;
        margin-top: 11px;
        @media screen and (min-width:1680px){
          font-size: $secondary2-text-1680-font-size;
        }
        
        // min-width: 159px;
        // @media screen and (min-width:703px) and (max-width:1279px){
        // }
      }
      &--text2-sem1-gr1{
        width: 160px;
        @media screen and (min-width:1680px){
          width: 190px;
        }
      }
      &--text2-sem1-vo1{
        width: 148px;
        @media screen and (min-width:1680px){
        width: 175px;
      }
      }
      &--text2-sem2-gr2{
        width: 107px;
        @media screen and (min-width:1680px){
          width: 126px;
        }
      }
      &--text2-sem2-vo2{
        width: 61px;
      }
      &--text2-sem3-gr3{
        width: 125px;
        @media screen and (min-width:1680px){
          width: 127px;
        }
      }
      &--text2-sem3-vo3{
        width: 162px;
      }
      &--text2-sem3-wr3{
        width: 148px;
      }
      &--text2-sem4-gr4{
        width: 162px;
        @media screen and (min-width:1680px){
          width: 194px;
        }
      }
      &--text2-sem4-vo4{
        width: 182px;
        @media screen and (min-width:1680px){
          width: 217px;
        }
      }
      &--text2-sem4-wr4{
        width: 148px;
      }
      &--text2-sem5-gr5{
        width: 62px;
      }
      &--text2-margin {
        padding-top: 46px;
      }

      &--text1::before {
        display: block;
        content: "";
        height: 2px;
        width: 25px;
        background-color: $main-color;
        position: absolute;
        margin-left: -38px;
        margin-top: 12px;
      }
    }

    &__tacher {
      margin-top: 24px;
      @media screen and (min-width:703px) and (max-width:1279px){
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        display: flex;
        justify-content: space-between;
        margin-top: 52px;
      }
      @media screen and (min-width:1680px){
        display: flex;
        justify-content: space-between;
        margin-top: 69px;
      }
      &--wrp{
        @media screen and (min-width:703px) and (max-width:1279px){
          max-width: 401px;
        }
        @media screen and (min-width:1280px) and (max-width:1679px){
          max-width: 638px;
        }
        @media screen and (min-width:1680px){
          max-width: 670px;
        }
      }
      &--img{
        width: 279px;
        height: 214px;
        background-image: url(../../images/teacher.jpg);
        @media screen and (min-width:703px) and (max-width:1279px){
          width: 247px;
        height: 321px;
        background-image: url(../../images/teacher_tablet.jpg);
        }
        @media screen and (min-width:1280px){
          width: 494px;
        height: 644px;
        background-image: url(../../images/teacher_1280.jpg);
        }
      }
      &--name {
        margin-top: 24px;
        font-size: $count-font-size;
        border-bottom: 1px solid #d1d1d1;
        @media screen and (min-width:703px) and (max-width:1279px){
          margin: 0;
          font-size: $title-font-size;
        }
        @media screen and (min-width:1280px){
          margin: 0;
          font-size: $third-text-font-size;
        }
      }

      &--list {
        margin-top: 20px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width:1280px){
          flex-direction: column;
          align-items: baseline;
        }
      }

      &--item {
        font-size: $count-font-size;
        font-weight: $third-font-weight;
        // max-width: 237px;
        display: flex;
        justify-content: space-between;
      }

      // &--list :not(:nth-child(1)) {
      //   margin-top: 24px;
      // }
      &--text, &__guarantees--text{
        margin-left: 20px;
        max-width: 237px;
        @media screen and (min-width:1280px){
          font-size: $fourth-text-font-size;
          max-width: 472px;
          padding-bottom: 29px;
        }
      }
      &--svg {
        fill: $main-color;
      }


      &--info {
        margin: 40px 0px 0px 15px;
        font-size: $button-font-size;
        font-weight: $fiveth-font-weight;
        color: $fourth-color;
      }
      &--info-paragraph {
        @media screen and (min-width:1280px){
          font-size: $fourth-text-font-size;
        }
      }
      &--info-paragraph:not(:nth-child(1)) {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      &--link{
          color: $main-color;
          text-decoration: underline;
          margin-top: 22px;
          @media screen and (min-width:1280px){
            font-size: $fourth-text-font-size;
          }
      }
      &--link a{
        color: $main-color;
    }
    }
    &__guarantees{
      background-color: $sixth-color;
      margin-top: 23px;
      @media screen and (min-width:703px) and (max-width:1279px){
      display: flex;
      justify-content: center;
      margin-top: 27px;
      }
      @media screen and (min-width:1280px) and (max-width:1679px){
        display: flex;
      justify-content: center;
      margin-top: 34px;
      }
      @media screen and (min-width:1680px){
        display: flex;
      justify-content: center;
      margin-top: 39px;
      }
        &--list{
            @media screen and (min-width:703px) and (max-width:1279px){
              max-width: 568px;
            }
            @media screen and (min-width:1280px) and (max-width:1679px){
              max-width: 955px;
            }
            @media screen and (min-width:1680px){
              max-width: 1096px;
            }
        }
        &--list::before {
            content: "";
            display: block;
            width: 2px;
            height: 285px;
            border-left: 2px dotted $fourth-color;
            position: absolute;
            margin-left: 5px;
            margin-top: 41px;
            // z-index: 2;
            @media screen and (min-width:703px) and (max-width:1279px){
              height: 197px;
            }
            @media screen and (min-width:1680px){
              height: 304px;
            }
          }
        &--item {
            font-size: $button-font-size;
            font-weight: $secondary-1280-font-weight;
            line-height: $third-line-hight;
            padding-top: 23px;
            display: flex;
            justify-content: space-between;
            @media screen and (min-width:703px) and (max-width:1279px){
              display: block;
              margin-left: 28px;
            }
            @media screen and (min-width:1280px) and (max-width:1679px){
              display: block;
              margin-left: 48px;
            }
            @media screen and (min-width:1680px){
              display: block;
              margin-left: 51px;
            }
        }
        &--img::before {
          content: "";
          display: block;
          position: absolute;
          width: 13px;
          height: 19px;
          background-image: url(../../images/icon/fire.png);
          @media screen and (min-width:703px) and (max-width:1279px){
            margin-left: -28px;
          }
          @media screen and (min-width:1280px) and (max-width:1679px){
            margin-left: -48px;
          }
          @media screen and (min-width:1680px){
            margin-left: -51px;
          }
        }
        &--last-item-padding{
            padding-bottom: 27px;
        }
        &--text{
          margin-left: 20px;
          max-width: 237px;
          @media screen and (min-width:703px) and (max-width:1279px){
            max-width: 536px;
          }
          @media screen and (min-width:1280px) and (max-width:1679px){
            max-width: 874px;
            font-size: $secondary-text-font-size;
          }
          @media screen and (min-width:1680px){
            max-width: 1011px;
            font-size: $secondary-text-1680-font-size;
          }
        }
        // &--z-index{
        //   position: absolute;
        //   z-index: 2;
        // }
        // &--item::before {
        //     display: block;
        //     content: url(../../images/icon/fire.png);
        //     position: absolute;
        //     margin-left: -35px;
        //   }
    }
}