.text {
  font-family: $main-font-family;
  font-size: $secondary-font-size;
  line-height: $secondary-line-hight;
  font-weight: $secondary-font-weight;
  margin-top: 33px;

  @media screen and (min-width:1280px) and (max-width:1679px) {
    font-size: $secondary-text-font-size;
    position: relative;
  }

  @media screen and (min-width:1680px) {
    font-size: $secondary-text-1680-font-size;
    position: relative;
  }

  &--silver {
    color: map-get($colors, secondary-color);

    @media screen and (min-width:1280px) and (max-width:1679px) {
      font-weight: $secondary-1280-font-weight;
    }
  }

  &--orang {
    color: map-get($colors, main-color);

    @media screen and (min-width:1280px) {
      position: absolute;
      margin-top: -30px;
      margin-left: 386px;
    }
  }
}
